<div class="navbar">
  <mat-toolbar class="navbar" role="navigation">
    <button mat-icon-button class="logo-button" (click)="openMovies()">
      <img src="assets/final.png" alt="MyFlix Logo" height="40">
    </button>
    <span class="example-spacer"></span>
    <div class="profile-logout-buttons">
      <button mat-button (click)="openProfile()" class="nav-button">
        {{ userName }}
        <mat-icon>account_circle</mat-icon>
      </button>
      <button mat-button (click)="logoutUser()" class="nav-button logout">
        Logout
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</div>
