<app-navbar></app-navbar>
<div class="movies-grid">
  <mat-card *ngFor="let movie of movies" class="movie-card">
    <mat-card-header>
      <mat-card-title>{{ movie.Title }}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="movie.ImagePath" alt="Movie Poster" />
    <mat-card-content>
      <div class="button-container">
        <button mat-raised-button class="custom-button" (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)">
          Genre
        </button>
        <button mat-raised-button class="custom-button" (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birth)">
          Director
        </button>
        <button mat-raised-button class="custom-button" (click)="openSynopsisDialog(movie.Title, movie.Description)">
          Synopsis
        </button>
        <button mat-icon-button (click)="toggleFav(movie)">
          <mat-icon *ngIf="isFav(movie)" style="transform: scale(1.5)">
            favorite
          </mat-icon>
          <mat-icon *ngIf="!isFav(movie)" style="transform: scale(1.5)">
            favorite_border
          </mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
