<div class="main">
  <app-navbar></app-navbar>
  <div class="user-profile">
    <h1>User Profile</h1>
    <div class="user-container">
      <h2>User Info</h2>
      <div class="user-info-display">
        <label>Name</label>
        <span>{{ userData.Username }}</span>
      </div>
      <div class="user-info-display">
        <label>Birthday</label>
        <span>{{ userData.Birthday | date: 'longDate' }}</span>
      </div>
      <div class="user-info-display">
        <label>Email</label>
        <span>{{ userData.Email }}</span>
      </div>
      <div class="update-user-info">
        <h2>Update User Info</h2>
        <form (ngSubmit)="updateUser()" class="example-form">
          <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input matInput type="text" [(ngModel)]="formUserData.Username" name="name" placeholder="Name" />
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Birthday</mat-label>
            <input matInput type="date" [(ngModel)]="formUserData.Birthday" name="birthday" placeholder="Birthday" />
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" [(ngModel)]="formUserData.Email" name="email" placeholder="Email" />
          </mat-form-field>
          <div class="button-container">
            <button mat-raised-button type="submit" color="primary">Update</button>
            <button mat-raised-button color="warn" (click)="deleteUser()">Delete User</button>
          </div>
        </form>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="content">
      <h2>Favorite Movies</h2>
      <div class="favorite-movies-container">
        <div *ngIf="favoritemovie.length === 0" class="movies-grid">
          <p>No favorite movies found! Start adding some by exploring our collection.</p>
        </div>
        <div class="movies-grid" *ngIf="favoritemovie.length > 0">
          <mat-card *ngFor="let movie of favoritemovie" class="movie-card">
            <img mat-card-image [src]="movie.ImagePath" alt="Movie Poster" class="header-image" />
            <div class="cardContent">
              <mat-card-header>
                <mat-card-title>{{ movie.Title }}</mat-card-title>
                <mat-card-subtitle>{{ movie?.Director?.Name }}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-actions class="actions">
                <button mat-button color="primary" (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)">Genre</button>
                <button mat-button color="primary" (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birth)">Director</button>
                <button mat-button color="primary" (click)="openSynopsisDialog(movie.Title, movie.Description)">Synopsis</button>
                <button mat-icon-button color="primary" (click)="toggleFav(movie)">
                  <mat-icon *ngIf="isFav(movie)" style="transform: scale(1.5)" color="primary">favorite</mat-icon>
                  <mat-icon *ngIf="!isFav(movie)" style="transform: scale(1.5)" color="primary">favorite_border</mat-icon>
                </button>
              </mat-card-actions>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
